body {
  font-family: 'Roboto', Arial, sans-serif;
  color: #999999;
}
.contanct-section {
  margin: 20px;
  background-color: #fff;
  height: 700px;
}
.social-media p a {
  color: #1eb2a6;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  margin-right: 10px;
}

.wrapper .social-media h3 {
  font-size: 20px;
  font-weight: 400;
}
.contact-wrap h3 {
  color: #000000;
  font-weight: 400;
  font-size: 30px;
}
.dbox p span {
  font-weight: 400;
  color: #000000;
  display: block;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
}
.dbox p a {
  color: black;
}
a {
  text-decoration: none;
}
.btn.btn-primary {
  background: #1eb2a6 !important;
  border: 1px solid #1eb2a6 !important;
  color: #fff !important;
  box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 9px 12px;
}
